h1 {
  box-sizing: border-box;
  color: #ebb6b6ff;
  text-align: center;
}

p {
  box-sizing: border-box;
}

.lefthalf {
    width: 50%;
    float: left;
}
.righthalf {
    width: 50%;
    float: left;
}

html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}
